@font-face {
    font-family: LyriqueFont;
    src: url("./assets/fonts/003 Engineer's Hand Regular.ttf");
}

/* for the logo */
#logo {
    height: 50px;
    width: 50px;
}



a,
a:hover,
a:visited {
    font-size: x-large;
    text-decoration: none;
    color: rgb(237, 236, 236);
    font-family: LyriqueFont;
}

nav {
    background-color: #242323;
}





a:visited:hover {
    text-decoration: none;
    color: rgb(235, 224, 224);

}

* {
    font-family: LyriqueFont;
}

span{
    color: #ffffff;
}

/* for the music player */
.container-audio {
  width: 66%;
  height: auto;
  padding: 20px;
  border-radius: 5px;
  background-color: #eee;
  color: #444;
  margin: 20px auto;
  overflow: hidden;
}
audio {
width:100%;
}
audio:nth-child(2), audio:nth-child(4), audio:nth-child(6) {
  margin: 0;
}
.container-audio .colum1 {
  width: 23px;
  height: 5em;
  border-radius: 5px;
  margin: 0 10px 0 0;
  display: inline-block;
  position: relative;
}
.container-audio .colum1:last-child {
  margin: 0;
}
.container-audio .colum1 .row {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background: linear-gradient(to up, #7700aa, #8800ff);
  position: absolute;
  -webkit-animation: Rofa 10s infinite ease-in-out;
  animation: Rofa 10s infinite ease-in-out;
  bottom: 0;
}
.container-audio .colum1:nth-of-type(1) .row {
  -webkit-animation-delay: 3.99s;
  animation-delay: 3.99s;
}
.container-audio .colum1:nth-of-type(2) .row {
  -webkit-animation-delay: 3.80s;
  animation-delay: 3.80s;
}
.container-audio .colum1:nth-of-type(3) .row {
  -webkit-animation-delay: 3.70s;
  animation-delay: 3.70s;
}
.container-audio .colum1:nth-of-type(4) .row {
  -webkit-animation-delay: 3.60s;
  animation-delay: 3.60s;
}
.container-audio .colum1:nth-of-type(5) .row {
  -webkit-animation-delay: 3.50s;
  animation-delay: 3.50s;
}
.container-audio .colum1:nth-of-type(6) .row {
  -webkit-animation-delay: 3.40s;
  animation-delay: 3.40s;
}
.container-audio .colum1:nth-of-type(7) .row {
  -webkit-animation-delay: 3.30s;
  animation-delay: 3.30s;
}
.container-audio .colum1:nth-of-type(8) .row {
  -webkit-animation-delay: 3.20s;
  animation-delay: 3.20s;
}
.container-audio .colum1:nth-of-type(9) .row {
  -webkit-animation-delay: 3.10s;
  animation-delay: 3.10s;
}
.container-audio .colum1:nth-of-type(10) .row {
  -webkit-animation-delay: 2.1s;
  animation-delay: 2.1s;
}
.container-audio .colum1:nth-of-type(11) .row {
  -webkit-animation-delay: 2.1s;
  animation-delay: 2.1s;
}
.container-audio .colum1:nth-of-type(12) .row {
  -webkit-animation-delay: 2.10s;
  animation-delay: 2.10s;
}
.container-audio .colum1:nth-of-type(13) .row {
  -webkit-animation-delay: 2.20s;
  animation-delay: 2.20s;
}
.container-audio .colum1:nth-of-type(14) .row {
  -webkit-animation-delay: 1.30s;
  animation-delay: 1.30s;
}
.container-audio .colum1:nth-of-type(15) .row {
  -webkit-animation-delay: 1.40s;
  animation-delay: 1.40s;
}
.container-audio .colum1:nth-of-type(16) .row {
  -webkit-animation-delay: 1.50s;
  animation-delay: 1.50s;
}
.container-audio .colum1:nth-of-type(17) .row {
  -webkit-animation-delay: 1.60s;
  animation-delay: 1.60s;
}
.container-audio .colum1:nth-of-type(18) .row {
  -webkit-animation-delay: 1.70s;
  animation-delay: 1.70s;
}
.container-audio .colum1:nth-of-type(19) .row {
  -webkit-animation-delay: 1.80s;
  animation-delay: 1.80s;
}
.container-audio .colum1:nth-of-type(20) .row {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

/* @-webkit-keyframes Rofa {
  0% {
      height: 0%;
      -webkit-transform: translatey(0);
      transform: translatey(0);
      background-color: yellow;
  }

  5% {
      height: 100%;
      -webkit-transform: translatey(15px);
      transform: translatey(15px);
      background-color: fuchsia;
  }
  10% {
      height: 90%;
      transform: translatey(0);
      -webkit-transform: translatey(0);
      background-color: bisque;
  }

  15% {
      height: 80%;
      -webkit-transform: translatey(0);
      transform: translatey(0);

      background-color: cornflowerblue;
  }
  20% {
      height: 70%;
      -webkit-transform: translatey(0);
      transform: translatey(0);
      background-color: cornflowerblue;
  }
  25% {
      height: 0%;
      -webkit-transform: translatey(0);
      transform: translatey(0);
      background-color: cornflowerblue;
  }
  30% {
      height: 70%;
      -webkit-transform: translatey(0);
      transform: translatey(0);
      background-color: cornflowerblue;
  }
  35% {
      height: 0%;
      -webkit-transform: translatey(0);
      transform: translatey(0);

      background-color: cornflowerblue;
  }
  40% {
      height: 60%;
      -webkit-transform: translatey(0);
      transform: translatey(0);

      background-color: cornflowerblue;
  }
  45% {
      height: 0%;
      -webkit-transform: translatey(0);
      transform: translatey(0);

      background-color: cornflowerblue;
  }
  50% {
      height: 50%;
      -webkit-transform: translatey(0);
      transform: translatey(0);

      background-color: cornflowerblue;
  }
  55% {
      height: 0%;
      -webkit-transform: translatey(0);
      transform: translatey(0);

      background-color: cornflowerblue;
  }
  60% {
      height: 40%;
      -webkit-transform: translatey(0);
      transform: translatey(0);

      background-color: cornflowerblue;
  }
  65% {
      height: 0%;
      -webkit-transform: translatey(0);
      transform: translatey(0);

      background-color: cornflowerblue;
  }
  70% {
      height: 30%;
      -webkit-transform: translatey(0);
      transform: translatey(0);

      background-color: cornflowerblue;
  }
  75% {
      height: 0%;
      -webkit-transform: translatey(0);
      transform: translatey(0);

      background-color: cornflowerblue;
  }
  80% {
      height: 20%;
      -webkit-transform: translatey(0);
      transform: translatey(0);

      background-color: cornflowerblue;
  }
  85% {
      height: 0%;
      -webkit-transform: translatey(0);
      transform: translatey(0);

      background-color: cornflowerblue;
  }
  90% {
      height: 10%;
      -webkit-transform: translatey(0);
      transform: translatey(0);

      background-color: cornflowerblue;
  }
  95% {
      height: 5%;
      -webkit-transform: translatey(0);
      transform: translatey(0);

      background-color: cornflowerblue;
  }
  100% {
      height: 0;
      -webkit-transform: translatey(0);
      transform: translatey(0);

      background-color: cornflowerblue;
  }
} */


/* for the english artist cards */
.box{
    width: 1200px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 15px;
    margin: 0 auto;
  }
  .card{
    position: relative;
    width: 300px;
    height: 350px;
    background: #fff;
    margin: 0 auto;
    border-radius: 4px;
    box-shadow:0 2px 10px rgba(0,0,0,.2);
  }
  .card:before,
  .card:after
  {
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background: #fff;
    transition: 0.5s;
    z-index:-1;
  }
  .card:hover:before{
  transform: rotate(20deg);
  box-shadow: 0 2px 20px rgba(0,0,0,.2);
  }
  .card:hover:after{
  transform: rotate(10deg);
  box-shadow: 0 2px 20px rgba(0,0,0,.2);
  }
  .card .imgBx{
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 10px;
  right: 10px;
  background: #222;
  transition: 0.5s;
  z-index: 1;
  }
  
  .card:hover .imgBx
  {
    bottom: 80px;
  }

  .card .imgBx img{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
  }

  .card .details{
      position: absolute;
      left: 10px;
      right: 10px;
      bottom: 10px;
      height: 60px;
      text-align: center;
  }

  .card .details h2{
   margin: 0;
   padding: 0;
   font-weight: 600;
   font-size: 20px;
   color: #777;
   text-transform: uppercase;
  } 

  .card .details h2 span{
  font-weight: 500;
  font-size: 16px;
  color: #f38695;
  display: block;
  margin-top: 5px;
   } 



   /* for the tabs */
   .tab {
    overflow: hidden;
  }
  
  .tab button {
    background-color: #f1f1f1;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 20px;
    transition: 0.3s;
    font-size: 16px;
  }
  
  .tab button:hover {
    background-color: #ddd;
  }
  
  .tab button.active {
    background-color: #ccc;
  }
  
  .tab-content {
    display: none;
    padding: 20px;
    border: 1px solid #ccc;
  }

  /* for the songs list */
h1{
  font-size: 40px;
  text-align: center;
}
#songlist .title{
  font-size: 25px;
  margin-bottom: 0px;
  width: 186px;
}
   
.songcontainer{
  display: flex;
  padding: 10px;
}

/* for the playbutton */
.play-btn {
  width: 30px;
  height: 30px;
  background: #222;
  display: inline-block;
  border-radius: 50%;
  box-sizing: border-box;
  transition: all .3s ease-in-out;
}
.play-btn span {
  display: block;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 8px solid #fff;
  position: relative;
  margin: 4px auto;
}

/* for the like button */
.large-font {
  font-size: xx-large;
}

ion-icon.active {
  animation: like 0.5s 1;
  fill: rgb(227, 70, 18);
  stroke: none;
}
ion-icon {
  fill: transparent;
  stroke: rgb(248, 244, 244);
  stroke-width: 30;
  transition: all 0.5s;
}

@keyframes like {
  0% {
    transform: scale(1);
  }
  90% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1.1);
  }
}

  /* for the music player */
     .container-audio {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.album-art {
  width: 200px;
  height: 200px;
  margin-bottom: 20px;
}

.album-art img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.song-title {
  text-align: center;
  margin: 0;
}

audio {
  width: 300px;
  margin-top: 20px;
}

