@font-face {
    font-family: LyriqueFont;
    src: url("./assets/fonts/003 Engineer's Hand Regular.ttf");
}

#lyrique{
  font-family: 'Fredericka the Great', cursive;
  color: azure;
  /* color: rgb(229, 113, 31); */
  font-size: 30px;
}

#lyrique:hover{
  color: rgb(235, 111, 10);
  font-size: 32px;
}


*{
  font-family: LyriqueFont;
}
/* for the logo */
#logo {
    height: 50px;
    width: 50px;
}

#dancingnotes{
  display: flex;
  list-style: none;
  float: left;
  font-size: 2em;
  color: #ffffff;
  text-shadow: 0 -1px 0 white, 0 1px 0 black;
}

.anim {
  animation: music 1s ease-in-out both infinite;
}

@keyframes music {

  0%,
  100% {
    -webkit-transform: translate3d(0, -10px, 0);
  }

  50% {
    -webkit-transform: translate3d(0, 10px, 0);
  }
}

a,
a:hover,
a:visited {
    font-size: x-large;
    text-decoration: none;
    color: rgb(237, 236, 236);
    font-family: LyriqueFont;
}

nav {
    background-color: #242323;
}

a:visited:hover {
    text-decoration: none;
    color: rgb(235, 224, 224);

}

* {
    font-family: LyriqueFont;
}

h1{
  color:rgb(227, 70, 18) ;
}

/* for the username */

#Hello,#username{
    font-size: 20px;
    color: azure;
}

.menu-btn {
  width: 150px;
  height: 50px;
  border-radius: 5px;
  border: none;
  transition: all 0.5s ease-in-out;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
  display: flex;
  align-items: center;
  background: #040f16;
  color: #f5f5f5;
}

.menu-btn:hover {
  box-shadow: 0 0 20px 0px #2e2e2e3a;
}

.menu-btn .icon {
  position: absolute;
  height: 40px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}

.menu-btn .text {
  transform: translateX(50px);
  margin-left: 10px;
}

.menu-btn:hover .icon {
  width: 170px;
}

.menu-btn .icon .edit{
  font-size: 0px;
}

.menu-btn:hover .icon .edit {
  transition: all 0.3s;
  font-size: 15px;
  color: rgb(251, 123, 32);
}


.menu-btn:hover .text {
  transition: all 0.3s;
  opacity: 0;
}

.menu-btn:focus {
  outline: none;
}

.menu-btn:active .icon {
  transform: scale(0.85);
}

/* for the logout,delete account and update profile button */
.button {
  font-size: 18px;
  color: rgb(227, 70, 18);
  font-family: inherit;
  font-weight: 200;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  text-transform: uppercase;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}

.button:focus,
.button:hover {
  color: rgb(0, 0, 0);
}

.button:focus:after,
.button:hover:after {
  width: 100%;
  left: 0%;
}

.button:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: rgb(227, 70, 18);
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}

/* for the music player */
.container-audio {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #222;
  height: 20%;
  width: 30%;
  border-radius: 10px;
}

.album-art {
  width: 100%;
  height: 75%;
  margin-bottom: 20px;
}

.album-art img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.song-title {
  text-align: center;
  margin: 0;
  font-size: x-large;
  color: rgb(227, 70, 18);
}

p{
  color: azure;
}

p:hover{
  color: rgb(227, 70, 18);

}

audio {
  width: 100%;
  margin-top: 7px;
}

/* for the songs list */
h1{
  font-size: 40px;
  text-align: center;
}
#songlist .title{
  font-size: 25px;
  margin-bottom: 0px;
  width: 186px;
}
   
.songcontainer{
  display: flex;
  padding: 10px;
}

/* for the playbutton */
.play-btn {
  width: 30px;
  height: 30px;
  background: #ffffff;
  display: inline-block;
  border-radius: 50%;
  box-sizing: border-box;
  transition: all .3s ease-in-out;
}
.play-btn span {
  display: block;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 8px solid #000000;
  position: relative;
  margin: 4px auto;
}

/* for the like button */
.large-font {
  font-size: xx-large;
}

ion-icon.active {
  animation: like 0.5s 1;
  fill: rgb(227, 70, 18);
  stroke: none;
}
ion-icon {
  fill: transparent;
  stroke: rgb(254, 254, 254);
  stroke-width: 30;
  transition: all 0.5s;
}

@keyframes like {
  0% {
    transform: scale(1);
  }
  90% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1.1);
  }
}

/* likedsongs viewbutton */
.likedbtn {
  padding: 0.5em 2em 0.5em 2.5em;
  font-size: 1em;
  font-weight: bold;
  border-radius: 15px;
  color: #fff6fb;
  letter-spacing: 0.3em;
  text-shadow: -2px 2px 5px rgb(227, 70, 18);
  background-color: transparent;
  border: 2px solid orangered;
  box-shadow: 0 0 0px 1px #F11271,
    0 0 10px 2px rgb(227, 70, 18),
    inset 0 0 0px 1px #F11271,
    inset 0 0 10px 2px rgb(227, 70, 18);
  transition: 100ms;
}

.likedbtn:hover {
  box-shadow: 0 0 0px 1px #F11271,
    0 0 10px 2px rgb(227, 70, 18),
    inset 0 0 0px 1px #F11271,
    inset 0 0 30px 2px rgb(227, 70, 18);
  text-shadow: 0 0 10px rgb(227, 70, 18);
  transform: translateY(-5px);
}

.likedbtn:active {
  box-shadow: 0 0 0px 1px #F11271,
    0 0 25px 2px rgb(227, 70, 18),
    inset 0 0 0px 1px #F11271,
    inset 0 0 30px 2px rgb(227, 70, 18);
  transform: translateY(1px);
}

/* for the liked songs */
.liked-songs-container{
  padding: 10px;

}








/* for the english artist cards */
.box{
    width: 1200px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 15px;
    margin: 0 auto;
  }
  .card{
    position: relative;
    width: 300px;
    height: 350px;
    background: #fff;
    margin: 0 auto;
    border-radius: 4px;
    box-shadow:0 2px 10px rgba(255, 255, 255, 0.2);
  }
  .card:before,
  .card:after
  {
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background: #fff;
    transition: 0.5s;
    z-index:-1;
  }
  .card:hover:before{
  transform: rotate(20deg);
  box-shadow: 0 2px 20px rgb(229, 113, 31);
  }
  .card:hover:after{
  transform: rotate(10deg);
  box-shadow: 0 2px 20px rgb(235, 111, 10);
  }
  .card .imgBx{
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 10px;
  right: 10px;
  background: #222;
  transition: 0.5s;
  z-index: 1;
  }
  
  .card:hover .imgBx
  {
    bottom: 80px;
  }

  .card .imgBx img{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
  }

  .card .details{
      position: absolute;
      left: 10px;
      right: 10px;
      bottom: 10px;
      height: 60px;
      text-align: center;
  }

  .card .details h2{
   margin: 0;
   padding: 0;
   font-weight: 600;
   font-size: 20px;
   color: #777;
   text-transform: uppercase;
  } 

  .card .details h2 span{
  font-weight: 500;
  font-size: 16px;
  color: #f38695;
  display: block;
  margin-top: 5px;
   } 



   /* for the tabs */
   .tab {
    overflow: hidden;
  }
  
  .tab button {
    background-color: #f1f1f1;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 20px;
    transition: 0.3s;
    font-size: 16px;
  }
  
  .tab button:hover {
    background-color: #ddd;
  }
  
  .tab button.active {
    background-color: #ccc;
  }
  
  .tab-content {
    display: none;
    padding: 20px;
    border: 1px solid #ccc;
  }

  /* for the listen now in likedsongs table */
  .listennow {
    font-size: 15px;
    font-weight: bold;
    color: rgb(20, 20, 20);
    border-radius: 1rem;
    width: 95.02px;
    height: 42.66px;
    border: none;
    background-color: #ff5f14;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .listennow .span-mother {
    display: flex;
    overflow: hidden;
  }
  
  .listennow:hover .span-mother {
    position: absolute;
  }
  
  .listennow:hover .span-mother span {
    transform: translateY(1.3em);
  }
  
  .listennow .span-mother span:nth-child(1) {
    transition: .2s;
  }
  
  .listennow .span-mother span:nth-child(2) {
    transition: .3s;
  }
  
  .listennow .span-mother span:nth-child(3) {
    transition: .4s;
  }
  
  .listennow .span-mother span:nth-child(4) {
    transition: .5s;
  }
  
  .listennow .span-mother span:nth-child(5) {
    transition: .6s;
  }
  
  .listennow .span-mother span:nth-child(6) {
    transition: .7s;
  }

  .listennow .span-mother span:nth-child(7) {
    transition: .8s;
  }
  
  .listennow .span-mother2 {
    display: flex;
    position: absolute;
    overflow: hidden;
  }
  
  .listennow .span-mother2 span {
    transform: translateY(-1.2em);
  }
  
  .listennow:hover .span-mother2 span {
    transform: translateY(0);
  }
  
  .listennow .span-mother2 span {
    transition: .2s;
  }
  
  .listennow .span-mother2 span:nth-child(2) {
    transition: .3s;
  }
  
  .listennow .span-mother2 span:nth-child(3) {
    transition: .4s;
  }
  

  

@media screen and (max-width:998px)  {
  /* for the music player */
.container-audio {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #222;
  height: 20%;
  width: 60%;
  border-radius: 10px;
}

.album-art {
  width: 100%;
  height: 60%;
  margin-bottom: 10px;
}

.album-art img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.song-title {
  text-align: center;
  margin: 0;
  font-size: large;
  color: rgb(227, 70, 18);
}

audio {
  width: 100%;
  margin-top: 7px;
}
  
}

/* for the table */
th{
  color: rgb(227, 174, 0);
  font-size: 25px;
}
td {
  font-size: 20px;
  font-weight: 700;
}

tr{
  color: azure;
}



