@font-face {
    font-family: LyriqueFont;
    src: url("./assets/fonts/003 Engineer's Hand Regular.ttf");
}

/* for the logo */
#logo {
    height: 50px;
    width: 50px;
}

*{
  font-family: LyriqueFont;
}


a,a:visited {
    text-decoration: none !important;
    color: rgb(254, 254, 254) !important;
    font-weight: 900 !important;
    font-family: LyriqueFont !important;
    font-size: larger !important;
}

a:hover,a:visited:hover {
    font-size: x-large !important;
    color: rgb(227, 70, 18) !important;
}

.navbuttons:hover {
    text-decoration: none !important;
    color: rgb(227, 70, 18) !important;
    font-weight: 900 !important;
    font-family: LyriqueFont !important;
    font-size: larger !important;
}

#layer1 {
    /* background-image: url(https://wallpapercave.com/wp/wp2326986.jp.); */
    background-image: url(./assets/images/layer1bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}



#layer1 span{
    font-size: 60px;
    font-family: LyriqueFont;
    color:rgb(227, 70, 18);
    text-transform: uppercase;
}

#layer1 span:hover{
    font-size: 65px;
}

#lyworld{
    font-size: 50px;
    color: azure;
    font-family: LyriqueFont;

}

/* typewriter animation */
  
  .typewriter {
    width: 295px;
    white-space: nowrap;
    overflow: hidden;
    border-right: 4px solid #fffdfd;
    animation: cursor 1s step-start infinite, text 5s steps(18) alternate infinite;
  }
  
  @keyframes cursor {
    0%,
    100% {
      border-color: #212121;
    }
  }
  
  @keyframes text {
    0% {
      width: 0;
    }
    100% {
      width: 295px;
    }
  }

/* for the cards inside the carousels */
.card{
  height: 800px;
}

.carousel-item p{
  font-size: 20px;
  text-align: center;
}




  




