@font-face {
  font-family: LyriqueFont;
  src: url("./assets/fonts/003 Engineer's Hand Regular.ttf");
}

* {
  font-family: LyriqueFont;
}

/* for the navbar */
#logo {
  height: 50px;
  width: 50px;
}

a,a:hover,a:visited {
  font-size: x-large;
  text-decoration: none;
  color: rgb(237, 236, 236);
  font-family: LyriqueFont; 
}

nav{
  background-color: #242323;
}

a:visited:hover{
  text-decoration: none;
  color: rgb(235, 224, 224);

}


/* for the user name */
span {
  color: #ffffff;
}

/* card */
.card{
  /* background-color: #646262; */
  background-color: transparent;
}

/* language */
h6{
  color:azure;
  font-size: 35px;
}

/* the song list */
.card ul{
  font-size: 30px;
  color: orangered;
  list-style-type: circle;
}

#lang-list{
  background-size: cover;
  background-repeat: no-repeat;
}