/* for the logo */
#logo{
    height: 50px;
    width: 50px;
}



#lyrique{
    font-family: 'Fredericka the Great', cursive;
    color: azure;
    /* color: rgb(229, 113, 31); */
    font-size: 30px;
  }
  
  #lyrique:hover{
    color: rgb(235, 111, 10);
    font-size: 32px;
  }


